---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Spookify | Transformar Personas">
  <h2 class="text-2xl lg:text-3xl font-bold text-amber-700 text-center">
    Transformate a ti y a tus amigos en criaturas aterradoras!
  </h2>
  <p class="text-lg lg:text-xl mt-4 text-orange-300 font-medium text-center">
    Zombies, Fantasmas, Demonios... Usa el poder de la inteligencia artificial y dale un toque unico a tus imágenes
  </p>
</Layout>