---
import NavBar from "./NavBar"
---
    
<header class="w-full max-w-full flex flex-col md:flex-row items-center md:justify-between p-2 shadow-sm shadow-slate-900 gap-2">
  <h1 class="text-5xl text-amber-700 font-bold md:w-auto">
    Spookify
  </h1>
  <div class="p-2 w-auto bg-slate-900 rounded-xl">
    <p class="text-xs font-bold">Proyecto para la Hackathon de Cloudinary</p>
  </div>
  <NavBar client:visible/>
</header>